%html
	%head
		%title Backbone JS Forum
		= csrf_meta_tag
		= include_javascripts :workspace
		= include_stylesheets :workspace
		:javascript
			$(function() {
				forum.app = new forum.ForumRouter();
				Backbone.history.start({ pushState: true });
				forum.postList.reset(#{@posts});
				forum.roomList.reset(#{@rooms});
				//console.log("roomList3", forum.roomList.toJSON());
				forum.currentUser.set(#{@current_user_json});
			});
	%body
		#topbar
		#container
