%html
	%head
		%title Roundtable
		= csrf_meta_tag
		= include_stylesheets :workspace
		%link(rel="stylesheet/less" type="text/css" href="/stylesheets/forum.less")
		%link(href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css')
		= include_javascripts :workspace
		:javascript
			$(function() {
				forum.app = new forum.ForumRouter();
				Backbone.history.start({ pushState: true });
				forum.postList.reset(#{@posts});
				forum.roomList.reset(#{@rooms});
				forum.currentUser.set(#{@current_user_json});
			});
	%body
		.topbar
		.container.main
			#container.slide.center
